*{
padding: 0%;
margin: 0%;
outline: none;
}
body{
    background-image:linear-gradient(to right,#4776e6,#8e54e9)
  
}
.container{
    margin-top: 20px;
}

h1{
    text-align: center;
    color:whitesmoke;  
}
.one, .two, .three{
    text-align: center;
    
}
.three,.two{
    margin-top: 20px;
}
textarea{
    
    background-color: #DFF6FF;
    border: 5px solid #1363DF;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}
#btn{
    padding: 10px;
    background-color: rgb(53, 235, 29);
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: large;
    border: 2px solid white;
   
}
#btn:hover{
    color:rgb(53, 235, 29) ;
    background-color: white;
    border: 2px solid rgb(53, 235, 29);
}

