#box{
    background-color: #5614B0;
    height: 350px;
    width: 700px;
    visibility: hidden;
    border-radius: 5px;
    position: relative;
}
body{
    background-image: linear-gradient(to right,#000428,#004e92);
}
#box.show{
    visibility:visible ;
}
.clicks{
    font-weight: bold;
}
.enter{
    color: rgb(5, 225, 5)
    
}
label{
    color: snow;
}
#icon{
    position: absolute;
    margin-left: 93%;
    display: inline-block;
    font-size: x-large;
    background-color: red;
    color: white;
    padding: 5px;
    padding-left:10px ;
    padding-right: 10px;
    border-top-right-radius:5px ;
   
}
